.bLeft {
	-moz-box-shadow:inset 0px 13px 29px 2px #f5978e;
	-webkit-box-shadow:inset 0px 13px 29px 2px #f5978e;
	box-shadow:inset 0px 13px 29px 2px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:3px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}.bLeft:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.bLeft:active {
	position:relative;
	top:1px;
}
.bRight {
	-moz-box-shadow:inset 0px 13px 29px 2px #dcecfb;
	-webkit-box-shadow:inset 0px 13px 29px 2px #dcecfb;
	box-shadow:inset 0px 13px 29px 2px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:3px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.bRight:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.bRight:active {
	position:relative;
	top:1px;
}